---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        method: GET
        url: https://api.github.com/rate_limit
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
      response:
        body: '{"resources":{"core":{"limit":5000,"remaining":4999,"reset":1740000000,"used":1,"resource":"core"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 1
      request:
        host: api.github.com
        method: GET
        url: https://api.github.com/repos/corneliusroemer/gh-rerun-failed/commits?per_page=50
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 2
      request:
        host: api.github.com
        method: GET
        url: https://api.github.com/repos/corneliusroemer/gh-rerun-failed/actions/runs?status=failure&per_page=100&page=1
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
      response:
        body: '{"total_count":1,"workflow_runs":[{"id":123456789,"name":"CI","head_branch":"main","head_sha":"deadbeef","run_number":42,"run_attempt":1,"status":"completed","conclusion":"failure","created_at":"2025-12-18T10:00:00Z","html_url":"https://github.com/corneliusroemer/gh-rerun-failed/actions/runs/123456789"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 3
      request:
        host: api.github.com
        method: GET
        url: https://api.github.com/repos/corneliusroemer/gh-rerun-failed/actions/runs/123456789/jobs
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
      response:
        body: '{"jobs":[{"id":987654321,"name":"build","status":"completed","conclusion":"failure"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 4
      request:
        host: api.github.com
        method: GET
        url: https://api.github.com/repos/corneliusroemer/gh-rerun-failed/commits/deadbeef
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
      response:
        body: '{"sha":"deadbeef","commit":{"message":"fix: something important"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
[...]
