name: Precompile

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  precompile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Precompile extension
        uses: cli/gh-extension-precompile@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          go_version: '1.24'
